#search-container {
    display: Grid;
    flex-direction: column;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 5px;
    width: 712px;
}

#search-container>h1 {
    grid-column: span 3;
}

#search-bar {
    display: flex;
    justify-content: center;
    grid-column: span 3;
    grid-row: 2/3;
    gap: 5px;
}

#input-bar {
    min-width: 300px;
}

#next-btn {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#prev-btn {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}