#login {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#header {
    display: flex;
    flex-direction: column;
}

#header>h1 {
    margin-bottom: 0;

}

#log-icon {
    margin: 0;
    padding: 0;
}